/*===================================== 文章列表开始 =====================================*/
.article-title{font-size: 18px;margin: 0px;}
.panel .panel-heading {
    background: #FCFCFC;
    border-bottom: #eee solid 1px;
}
.article-attribute span{margin-left: 3%;}
.media-right-title{
    border-radius: 4px;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.1);
    font-size: 12px;
    line-height: 22px;
    background: #DDD none repeat scroll 0% 0%;
    width: 45px;
    display: block;
    height: 22px;
    text-align: center;
    color: #999;
    text-decoration: none;
}
.media-right-body{
    font-size: 14px;
    font-weight: 500;
    background: #EEE none repeat scroll 0% 0%;
    line-height: 26px;
    font-style: normal;
    text-align: center;
}
.article-recommend{
    padding: 0px;
}
.recommend-title{
    height: 20px;
    line-height: 20px;
    text-overflow: ellipsis ;
    overflow:hidden!important;
    white-space: nowrap;
    display: block!important;
    width: 100%!important;
}
/*菜单导航*/
.category-menu{
    list-style: none;
}
.category-menu li{
    float: left;
    height: 30px;
}
/*===================================== 文章列表结束 =====================================*/


/*===================================== 文章详情开始 =====================================*/
.wrap{height: 100%;}
.container{height: 100%;}
.frontend-article-detail{height: 90%;}
.footer{height: 10%;}
/*===================================== 文章详情结束 =====================================*/